.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3rem;
}

.items_1 img, .items_2 img{
    width: 28px;
    height: auto;
    object-fit: cover;
    margin: 0.356rem;
}

.items_2 img:last-child{
    width: 50px;
}
